<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/app.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body class="error__body">
    <div class="header">
      <h6><a href="/" class="title">Book Store</a></h6>
    </div>
    <div class="error__cont">
      <h1>Page Not Found</h1>
      <h1>404 Error</h1>
      <p><a href="/">Visit the the homepage</a></p>
    </div>
  </body>
</html>
